<div class="footer bg-light mt-3 border mt-2">
    <div class="container-fluid">
        <div class="row p-4">
            <div class="col-12 mt-2 bg-light fs-6 text-center border-0 border-bottom border-3">
                <p class="fw-light d-flex justify-content-center text-small">
                    ДЛЯ ВАС!
                    <br>
                    Безмежний асортимент тканин всіх світових виробників!
                    <br>
                    Індивідуальне пошиття текстильних виробів
                    будь-якої складності для інтер'єру і
                    екстер'єру!
                    <br>
                    Професійний монтаж виробів!
                </p>
            </div>
            <div class="col-12 mt-2">
                <div class="text-small text-center align-items-center justify-content-end fs-6">
                    <p>
                        <b>
                        м.Шулявська,
                        Індустріальний міст
                        <br>
                        вул.Борщагівська, 154А
                        ТК "Аркадія" 2 поверх
                        <br>
                        Пн - Нд: з 10:00 - до 20:00
                        <br>
                        +38 050-59-79-651 Світлана Дробот
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>