{% extends 'main/main.html' %}

{% block title %}
Галерея
{% endblock %}

{% block content %}

<p>{{ category }}</p>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" style="color: #5F4173">Головна</a></li>
            <li class="breadcrumb-item active" aria-current="page">Галерея</li>
        </ol>
    </nav>
    <div class="modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-fullscreen-lg-down" role="document">
              <div class="modal-content bg-black bg-opacity-75">

                    <button type="button"
                            class="btn-close btn-close-white btn-xl position-absolute top-0 end-0 m-3"
                            style="width: 2rem; height: 2rem; background-size: 2rem; z-index: 20;"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>

                  <div id="img-detail" class="modal-body d-flex align-items-center justify-content-center rounded-3"></div>

                  <button class="carousel-control-prev position-absolute top-50 start-0 translate-middle-y"
                          type="button"
                          data-bs-target="#carouselExample"
                          data-bs-slide="prev"
                          style="z-index: 20;">
                    <span class="carousel-control-prev-icon"></span>
                  </button>

                  <button class="carousel-control-next position-absolute top-50 end-0 translate-middle-y"
                          type="button"
                          data-bs-target="#carouselExample"
                          data-bs-slide="next"
                          style="z-index: 20;">
                    <span class="carousel-control-next-icon"></span>
                  </button>

              </div>
        </div>
    </div>
    <div class="row">
        {% for items in context.images %}
        <a href="{% url 'gallery_image_detail' items.id items.category.slug %}"
           id="image-card"
            class="card border-0 col-4 mt-3"
            hx-get="{% url 'gallery_image_detail' items.id items.category.slug %}"
            hx-target="#img-detail"
            hx-trigger="click"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            <img src="{{ items.image.url }}" class="card-img-top rounded-3" alt="..." style="height: 100%">
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
